<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
    <appSettings>
        <add key="valtechAboutUrl" value="https://www.valtech.co.uk/about/" />
        <add key="valtechHomeUrl" value="https://www.valtech.co.uk/" />
        <add key="valtechContactUsUrl" value="https://www.valtech.co.uk/about/contact-us/" />
        <add key="valtechServicesUrl" value="https://www.valtech.co.uk/services/" />
        <add key="valtechWorkUrl" value="https://www.valtech.co.uk/work/" />
        <add key="driver" value="Chrome" />
    </appSettings>
  <specFlow>
  <unitTestProvider name="SpecRun" />
  <plugins>
    <add name="SpecRun" path="%USERPROFILE%\Repos\C#\Working Code - Copy\packages\SpecRun.SpecFlow.2-4-0.1.8.5\lib\net45"/>
  </plugins>
  </specFlow>
</configuration>
